@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Party</h1>
    <p>It's party time! Click <a asp-action="RsvpForm">here</a> to register for this exciting event</a>.</p>
</div>
